<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ec.nem.apples"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
	<uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <application
        android:icon="@drawable/apple"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseCardActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".GameActivity"></activity>
        
        <service android:name="ec.nem.bluenet.BluetoothNodeService" />
        <activity android:name="ec.nem.bluenet.BuildNetworkActivity" />
        <activity android:name=".DealerActivity"></activity>
        <activity android:name=".OutcomeActivity"></activity>
	</application>

</manifest>